* Question 1 - Python program to scrape data for “Data Analyst” Job position in “Bangalore” location’

In [1]:
#import all required libraries 
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
#connect to wedriver
driver=webdriver.Chrome('chromedriver.exe')

In [19]:
url='https://www.naukri.com/'
driver.get(url)

In [4]:
#finding web element 
search_job = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job.send_keys('Data Analyst')

In [5]:
search_job = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_job.send_keys('Bangalore')

In [6]:
search_job = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_job.click()

In [8]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [9]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:2]

['Hiring Data Analyst For Global Logic-Immediate Joiner',
 'Senior Data Analyst']

In [10]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="e54672fbe2fa5fccc45f54e38f1d310a", element="0c98f96e-047d-448a-8fbd-43c06e5f3d3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e54672fbe2fa5fccc45f54e38f1d310a", element="3bd98b00-07ef-4e2e-8d4c-a8cb986bbb3f")>]

In [11]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)
company_name[0:2]

['GlobalLogic', 'Flipkart']

In [12]:
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [13]:
experience=[]
for i in exp_tags:
    experience.append(i.text)
experience[0:2]

['4-8 Yrs', '4-6 Yrs']

In [14]:
locn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [15]:
location=[]
for i in locn_tags:
    location.append(i.text)
location[0:2]

['Noida, Nagpur, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bengaluru/Bangalore']

In [16]:
jobs=pd.DataFrame()
jobs['Title']=job_titles
jobs['Company']=company_name
jobs['Exp']=experience
jobs['Location']=location
jobs

,Title,Company,Exp,Location
0,Hiring Data Analyst For Global Logic-Immediate...,GlobalLogic,4-8 Yrs,"Noida, Nagpur, Pune, Gurgaon/Gurugram, Bangalo..."
1,Senior Data Analyst,Flipkart,4-6 Yrs,Bengaluru/Bangalore
2,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,0-3 Yrs,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru..."
3,Assistant Clinical Data Analyst,Labcorp Drug Development India Private Limited,0-2 Yrs,Bangalore/Bengaluru
4,Lead - Data Analyst / Scientist,Axim Technologies,12-14 Yrs,Bangalore/Bengaluru
5,Data Analyst / Sr. Data Analyst,Vmware,3-6 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst - CRM,Gojek Tech,2-5 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst - Supporting Audits,Visa,5-8 Yrs,Bangalore/Bengaluru
8,Research - Data Analyst / Associate,AXL HR Tech,0-2 Yrs,"Mumbai, Delhi / NCR, Bangalore/Bengaluru"
9,Data Analyst 1,Optum Global Solutions (India) Private Limited,4-9 Yrs,Bangalore/Bengaluru
10,SAM Data Analyst,Nokia,1-2 Yrs,"Noida, Mumbai, Bangalore/Bengaluru"
11,Data Analyst,Zolostays Property Solutions Pvt. Ltd.,2-3 Yrs,Bangalore/Bengaluru
12,Data Analyst - CRM Platform,Artech infosystem,1-6 Yrs,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
13,Data Analyst,Flipkart,1-2 Yrs,Bengaluru/Bangalore
14,Consultant - Data Analyst,Flipkart,1-3 Yrs,Bengaluru/Bangalore
15,Hiring For Data Analyst,Flipkart,4-8 Yrs,Bangalore/Bengaluru
16,Business Analyst - Telecom Data Migration,NetCracker,9-14 Yrs,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru"
17,Senior Data Analyst,Walmart,4-7 Yrs,Bangalore/Bengaluru
18,Senior Data Analyst - CRM,GO-JEK India,4-8 Yrs,Bangalore/Bengaluru
19,Data Analyst,Snaphunt,0-2 Yrs,Bangalore/Bengaluru

* Question 2 - Python program to scrape data for “Data Scientist” Job position in “Bangalore” location’

In [17]:
url='https://www.naukri.com/'
driver.get(url)

In [18]:
#finding web element 
search_job = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job.send_keys('Data Scientist')

In [19]:
search_job = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_job.send_keys('Bangalore')

In [21]:
search_job = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_job.click()

In [22]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [23]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:2]

['Data Scientist: Advanced Analytics', 'Data Scientist: Advanced Analytics']

In [24]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="e54672fbe2fa5fccc45f54e38f1d310a", element="19aca2fc-b4aa-443e-9af5-be026741058e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e54672fbe2fa5fccc45f54e38f1d310a", element="69c39871-82eb-4e39-be0e-8329e080a1da")>]

In [25]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)
company_name[0:2]

['IBM', 'IBM']

In [26]:
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [27]:
experience=[]
for i in exp_tags:
    experience.append(i.text)
experience[0:2]

['5-10 Yrs', '5-7 Yrs']

In [28]:
locn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [29]:
location=[]
for i in locn_tags:
    location.append(i.text)
location[0:2]

['Bangalore/Bengaluru', 'Bengaluru/Bangalore']

In [48]:
jobs=pd.DataFrame()
jobs['Title']=job_titles
jobs['Company']=company_name
jobs['Exp']=experience
jobs['Location']=location
jobs

,Title,Company,Exp,Location
0,Data Scientist / Senior DS/ Team Lead,NebulARC Technologies Private Limited,0-4 Yrs,"Mumbai, Gurgaon/Gurugram(Cyber City +1)"
1,Job Opportunity || Data Scientist || HCL Techn...,HCL,2-6 Yrs,Delhi / NCR
2,Hiring For Data Analyst / Data Scientist,Careerera,2-5 Yrs,Noida(Sector-59 Noida)
3,Senior Data Scientist I,Delhivery,3-7 Yrs,Gurgaon/Gurugram
4,Data Scientist,Core Diagnostics Private Limited,2-7 Yrs,Gurgaon/Gurugram(Uday Nagar)
5,Data Scientist | Python | Machine Learning | D...,Schlesinger Group,0-3 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
6,Openings For Jr/mid/Sr level data Scientists,Pluto seven business solutions (p) limited,2-6 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
7,Data Scientist,T & A Solutions,2-6 Yrs,Gurgaon/Gurugram
8,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,1-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
9,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,1-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
10,Data Scientist role,Mount Talent Consulting Private Limited,1-4 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
11,Data Scientist role,Mount Talent Consulting Private Limited,1-3 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
12,Data Scientist role,Mount Talent Consulting Private Limited,1-3 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
13,Data Scientist Internship,iHackers Inc,0-1 Yrs,New Delhi
14,Data Scientist,Teleperformance,4-9 Yrs,"Gurgaon/Gurugram, Chennai"
15,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Delhi / NCR"
16,Data Scientist,Boston Consulting Group,2-5 Yrs,New Delhi
17,Senior Data Scientist,iNICU,1-5 Yrs,Delhi
18,Data Scientist,Sentieo,2-7 Yrs,Delhi
19,Data Scientist,BlackBuck,3-7 Yrs,"Gurgaon, Bengaluru"

* Question 3

In [30]:
url='https://www.naukri.com/'
driver.get(url)

In [31]:
#finding web element 
search_job = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job.send_keys('Data Scientist')

In [32]:
search_job = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_job.click()

In [35]:
salary_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[2]/label/i')

In [36]:
salary_check.click()

In [38]:
location_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/i')

In [39]:
location_check.click()

In [40]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="e54672fbe2fa5fccc45f54e38f1d310a", element="9177320f-16b1-4937-a076-544f075d30a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e54672fbe2fa5fccc45f54e38f1d310a", element="323287a0-9d39-4ad0-8a74-3835d2f2cd12")>]

In [41]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:2]

['Data Scientist / Senior DS/ Team Lead',
 'Job Opportunity || Data Scientist || HCL Technologies']

In [42]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="e54672fbe2fa5fccc45f54e38f1d310a", element="197f404c-7215-47a5-8c27-3c0d7be26d2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e54672fbe2fa5fccc45f54e38f1d310a", element="aba428a7-2728-44ec-9d52-6da9c63e26ac")>]

In [43]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)
company_name[0:2]

['NebulARC Technologies Private Limited', 'HCL']

In [44]:
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [45]:
experience=[]
for i in exp_tags:
    experience.append(i.text)
experience[0:2]

['0-4 Yrs', '2-6 Yrs']

In [46]:
locn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [47]:
location=[]
for i in locn_tags:
    location.append(i.text)
location[0:2]

['Mumbai, Gurgaon/Gurugram(Cyber City +1)', 'Delhi / NCR']

In [69]:
jobs=pd.DataFrame()
jobs['Title']=job_titles
jobs['Location']=location
jobs['Company']=company_name
jobs['Exp']=experience
jobs

,Title,Location,Company,Exp
0,Data Scientist / Senior DS/ Team Lead,"Mumbai, Gurgaon/Gurugram(Cyber City +1)",NebulARC Technologies Private Limited,0-4 Yrs
1,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL,2-6 Yrs
2,Hiring For Data Analyst / Data Scientist,Noida(Sector-59 Noida),Careerera,2-5 Yrs
3,Senior Data Scientist I,Gurgaon/Gurugram,Delhivery,3-7 Yrs
4,Data Scientist,Gurgaon/Gurugram(Uday Nagar),Core Diagnostics Private Limited,2-7 Yrs
5,Data Scientist | Python | Machine Learning | D...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Schlesinger Group,0-3 Yrs
6,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Pluto seven business solutions (p) limited,2-6 Yrs
7,Data Scientist,Gurgaon/Gurugram,T & A Solutions,2-6 Yrs
8,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
9,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
10,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-4 Yrs
11,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-3 Yrs
12,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-3 Yrs
13,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs
14,Data Scientist,"Gurgaon/Gurugram, Chennai",Teleperformance,4-9 Yrs
15,Data Analyst / Data Scientist / Business Analy...,"Noida, New Delhi, Delhi / NCR",GABA Consultancy services,0-0 Yrs
16,Data Scientist,New Delhi,Boston Consulting Group,2-5 Yrs
17,Senior Data Scientist,Delhi,iNICU,1-5 Yrs
18,Data Scientist,Delhi,Sentieo,2-7 Yrs
19,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs

* Question 4

In [4]:
url='https://www.flipkart.com/'
driver.get(url)

In [5]:
#finding web element 
search_product = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_product.send_keys('Sunglasses')

In [6]:
search_product = driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_product.click()

In [7]:
brands_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brands_tag)

40

In [8]:
brands=[]
for i in brands_tag:
    brands.append(i.text)
brands[0:2]

['DEIXELS', 'AISLIN']

In [9]:
descrip_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
descrip_tag[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="f61516d07111103da9c0e6853619e45d", element="455178d3-5cc0-486d-aaf6-6d794fcb2601")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f61516d07111103da9c0e6853619e45d", element="ab6ca711-d448-47f8-9f0c-7df22ce80340")>]

In [10]:
descrip=[]
for i in descrip_tag:
    descrip.append(i.text)
descrip[0:2]

['UV Protection Rectangular Sunglasses (Free Size)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...']

In [11]:
price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price_tag[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="f61516d07111103da9c0e6853619e45d", element="3e7c2742-1b67-451f-94a2-c46130dfd486")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f61516d07111103da9c0e6853619e45d", element="eba1d742-6179-4dcf-8726-87f0082fa998")>]

In [12]:
price=[]
for i in price_tag:
    price.append(i.text)
price[0:2]

['₹319', '₹712']

In [13]:
next_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_page.click()

In [14]:
brand_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tag)

40

In [16]:
for i in brand_tag:
    brand.append(i.text)
len(brand)

NameError: name 'brand' is not defined

In [16]:
price=[]
for i in price_tag:
    price.append(i.text)
price[0:2]

['₹1,179', '₹1,179']

In [80]:
product=pd.DataFrame()
product['Brand']=brand
product['Descrip']=descrip
product['Price']=price
product

,Brand,Descrip,Price
0,Kanishka,Others Wayfarer Sunglasses (Free Size),₹522
1,VILLAIN,Others Retro Square Sunglasses (Free Size),₹549
2,PIRASO,UV Protection Aviator Sunglasses (54),₹200
3,Elligator,UV Protection Round Sunglasses (54),₹248
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759
5,SRPM,UV Protection Wayfarer Sunglasses (56),₹198
6,kingsunglasses,UV Protection Round Sunglasses (54),₹188
7,Singco India,by Lenskart UV Protection Wayfarer Sunglasses ...,"₹1,179"
8,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹165
9,PIRASO,UV Protection Aviator Sunglasses (54),₹200
10,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹309
11,ROZZETTA CRAFT,by Lenskart UV Protection Round Sunglasses (48),"₹1,415"
12,New Specs,UV Protection Wayfarer Sunglasses (32),₹190
13,PIRASO,"Mirrored, UV Protection, Riding Glasses, Other...",₹262
14,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹383
15,ROZZETTA CRAFT,"by Lenskart Polarized, UV Protection Aviator S...","₹1,179"
16,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹271
17,ROYAL SON,UV Protection Aviator Sunglasses (54),₹200
18,Elligator,UV Protection Round Sunglasses (53),₹189
19,ROZZETTA CRAFT,"by Lenskart Polarized, UV Protection Wayfarer ...","₹1,415"
20,PIRASO,Mirrored Aviator Sunglasses (55),₹359
21,ROYAL SON,UV Protection Round Sunglasses (Free Size),₹289
22,kingsunglasses,UV Protection Rectangular Sunglasses (58),₹449
23,ROZZETTA CRAFT,"by Lenskart Polarized, UV Protection Wayfarer ...","₹1,179"
24,hipe,"Mirrored, Gradient, UV Protection Aviator Sung...",₹178
25,Lee Topper,UV Protection Rectangular Sunglasses (Free Size),₹259
26,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (53)",₹273
27,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...","₹1,179"
28,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹181
29,New Specs,"Riding Glasses, Night Vision Wrap-around Sungl...",₹276
30,Fastrack,UV Protection Retro Square Sunglasses (Free Size),₹474
31,ROZZETTA CRAFT,"UV Protection, Mirrored Retro Square Sunglasse...",₹299
32,PIRASO,"UV Protection, Mirrored Retro Square Sunglasse...",₹299
33,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (58),₹299
34,PHENOMENAL,UV Protection Wayfarer Sunglasses (55),₹549
35,AISLIN,Gradient Aviator Sunglasses (55),₹196
36,PHENOMENAL,"Gradient, Toughened Glass Lens, UV Protection ...",₹599
37,agera,UV Protection Round Sunglasses (Free Size),₹233
38,Singco India,Polarized Round Sunglasses (48),₹165
39,Sewell,UV Protection Round Sunglasses (50),₹355

* Question 5

In [216]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [218]:
review=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[7]/div/div/div[5]/div/a/div/span')
review.click()

In [220]:
rating=[]
review_summary=[]
full_review=[]
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
review_summary_tag=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full_review_tag=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in rating_tag:
    rating.append(i.text)
for i in review_summary_tag:
    review_summary.append(i.text)
for i in full_review_tag:
    full_review.append(i.text)
# got to next page
next_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
next_page.click()

In [221]:
len(rating)

10

In [222]:
len(review_summary)

10

In [223]:
len(full_review)

10

In [224]:
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
review_summary_tag=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full_review_tag=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in rating_tag:
    rating.append(i.text)
for i in review_summary_tag:
    review_summary.append(i.text)
for i in full_review_tag:
    full_review.append(i.text)
# got to next page
next_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_page.click()

In [225]:
len(rating)

20

In [226]:
len(review_summary)

20

In [227]:
len(full_review)

20

In [229]:
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
review_summary_tag=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full_review_tag=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in rating_tag:
    rating.append(i.text)
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in rating_tag:
    rating.append(i.text)
for i in review_summary_tag:
    review_summary.append(i.text)
for i in full_review_tag:
    full_review.append(i.text)
# got to next page
next_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_page.click()

In [230]:
len(rating)

40

In [231]:
len(review_summary)

40

In [232]:
len(full_review)

40

In [233]:
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
review_summary_tag=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full_review_tag=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in rating_tag:
    rating.append(i.text)
for i in review_summary_tag:
    review_summary.append(i.text)
for i in full_review_tag:
    full_review.append(i.text)
# got to next page
next_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_page.click()

In [234]:
len(rating)

50

In [235]:
len(review_summary)

50

In [236]:
len(full_review)

50

In [237]:
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
review_summary_tag=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full_review_tag=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in rating_tag:
    rating.append(i.text)
for i in review_summary_tag:
    review_summary.append(i.text)
for i in full_review_tag:
    full_review.append(i.text)
# got to next page
next_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_page.click()

In [238]:
len(rating)

60

In [239]:
len(review_summary)

60

In [240]:
len(full_review)

60

In [241]:
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
review_summary_tag=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full_review_tag=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in rating_tag:
    rating.append(i.text)
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in rating_tag:
    rating.append(i.text)
for i in review_summary_tag:
    review_summary.append(i.text)
for i in full_review_tag:
    full_review.append(i.text)
# got to next page
next_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_page.click()

In [242]:
len(rating)

70

In [243]:
len(review_summary)

70

In [244]:
len(full_review)

70

In [245]:
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
review_summary_tag=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full_review_tag=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in rating_tag:
    rating.append(i.text)
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in rating_tag:
    rating.append(i.text)
for i in review_summary_tag:
    review_summary.append(i.text)
for i in full_review_tag:
    full_review.append(i.text)
# got to next page
next_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_page.click()

In [246]:
len(rating)

80

In [247]:
len(review_summary)

80

In [248]:
len(full_review)

80

In [249]:
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
review_summary_tag=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full_review_tag=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in rating_tag:
    rating.append(i.text)
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in rating_tag:
    rating.append(i.text)
for i in review_summary_tag:
    review_summary.append(i.text)
for i in full_review_tag:
    full_review.append(i.text)
# got to next page
next_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_page.click()

In [250]:
len(rating)

90

In [251]:
len(review_summary)

90

In [252]:
len(full_review)

90

In [253]:
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
review_summary_tag=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full_review_tag=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in rating_tag:
    rating.append(i.text)
for i in review_summary_tag:
    review_summary.append(i.text)
for i in full_review_tag:
    full_review.append(i.text)

In [254]:
len(rating)

100

In [255]:
len(review_summary)

100

In [256]:
len(full_review)

100

In [257]:
product=pd.DataFrame()
product['Rating']=rating
product['Review_summary']=review_summary
product['Full_review']=full_review
product

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
96,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,The phone is completely good\nAs far as camera...
98,3,Decent product,Everything u ll like it when u use this iPhone...
99,5,Wonderful,Nice value for money good and best price I pho...

* Question 6- Python program to scrape data for “Data Scientist” Job position in “Bangalore” location’

In [91]:
url='https://www.flipkart.com'
driver.get(url)

In [92]:
#finding web element 
search_product = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_product.send_keys('sneakers')

In [93]:
search_product = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_product.click()

In [94]:
brand=[]
descrip=[]
price=[]
descrip_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
brand_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in brand_tag:
    brand.append(i.text)
for i in descrip_tag:
    descrip.append(i.text)
descrip_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa _2-ICcC"]')
for i in descrip_tag:
    descrip.append(i.text)
for i in price_tag:
    price.append(i.text)
# got to next page
next_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_page.click()

In [77]:
len(brand)

40

In [78]:
len(descrip)

40

In [79]:
len(price)

40

In [95]:
descrip_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
brand_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in brand_tag:
    brand.append(i.text)
for i in descrip_tag:
    descrip.append(i.text)
descrip_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa _2-ICcC"]')
for i in descrip_tag:
    descrip.append(i.text)
for i in price_tag:
    price.append(i.text)
# got to next page
next_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_page.click()

In [82]:
len(brand)

80

In [83]:
len(descrip)

80

In [84]:
len(price)

80

In [96]:
numcount=0
brand_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in brand_tag:
    brand.append(i.text)
    numcount+=1
    if numcount>19:
        break
numcount=0
for i in price_tag:
    price.append(i.text)
    numcount+=1
    if numcount>19:
        break
numcount=0
descrip_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in descrip_tag:
    descrip.append(i.text)
    numcount+=1
    if numcount>19:
        break

In [97]:
len(brand)

100

In [98]:
len(descrip)

100

In [99]:
len(price)

100

In [100]:
product=pd.DataFrame()
product['Brand']=brand
product['Descrip']=descrip
product['Price']=price
product

,Brand,Descrip,Price
0,Echor,Men's Sneakers Fashion Lightweight Running Sho...,₹569
1,Echor,Men's Sneakers Fashion Lightweight Running Sho...,₹569
2,Labbin,Sneakers For Men,₹499
3,BIRDE,Sports Running Shoes Sneakers For Men,₹299
4,luxury fashion,Luxury Fashionable casual shoes Sneakers For Men,₹429
...,...,...,...
95,GVR,Sneakers For Men,₹549
96,World Wear Footwear,SM-162 Sneakers For Men,₹599
97,Zorth,Sneakers For Men,₹447
98,CLYMB,Sneakers For Men,₹649
99,JYOTIFED FOOTWEARS,ALL-SPORT Sneakers For Men,₹749

* Question 7- Python program to scrape data for “Data Scientist” Job position in “Bangalore” location’

In [118]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [121]:
price_check=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_check.click()

In [120]:
color_check=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_check.click()

In [122]:
brand=[]
descrip=[]
price=[]
brand_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
descrip_tag=driver.find_elements_by_xpath('//h4[@class="product-product"]')
price_tag=driver.find_elements_by_xpath('//div[@class="product-price"]')
for i in brand_tag:
    brand.append(i.text)
for i in descrip_tag:
    descrip.append(i.text)
for i in price_tag:
    price.append(i.text)
# got to next page
next_page=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
next_page.click()

In [123]:
len(brand)

50

In [109]:
len(descrip)

50

In [112]:
len(price)

50

In [124]:
brand_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
descrip_tag=driver.find_elements_by_xpath('//h4[@class="product-product"]')
price_tag=driver.find_elements_by_xpath('//div[@class="product-price"]')
for i in brand_tag:
    brand.append(i.text)
for i in descrip_tag:
    descrip.append(i.text)
for i in price_tag:
    price.append(i.text)

In [125]:
len(brand)

100

In [126]:
len(descrip)

100

In [127]:
len(price)

100

In [128]:
product=pd.DataFrame()
product['Brand']=brand
product['Descrip']=descrip
product['Price']=price
product

           Brand                        Descrip                       Price
0           Puma              Men Running Shoes  Rs. 7149Rs. 12999(45% OFF)
1        Saint G      Men Mid-Top Chelsea Boots  Rs. 9265Rs. 10900(15% OFF)
2           Puma      Men Magnify Nitro Running  Rs. 7799Rs. 12999(40% OFF)
3        Bugatti              Men Running Shoes   Rs. 7999Rs. 9999(20% OFF)
4        Bugatti        Men Black Walking Shoes   Rs. 7199Rs. 8999(20% OFF)
..           ...                            ...                         ...
95          ALDO                   Men Sneakers                    Rs. 9999
96     J.FONTINI              Men Solid Loafers                    Rs. 8990
97      Columbia  PEAKFREAK XCRSN Trekking Shoe                    Rs. 9999
98  UNDER ARMOUR     Women HOVR Sonic 4 Running  Rs. 7699Rs. 10999(30% OFF)
99          Geox      Men Leather Formal Derbys  Rs. 8399Rs. 11999(30% OFF)

[100 rows x 3 columns]

* Question 8- Go to webpage https://www.amazon.in/ 
Enter “Laptop” in the search field and then click the search icon. 
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [151]:
# Opening the website in the link
url='https://www.amazon.in/'
driver.get(url)

In [152]:
#finding web element 
search_box = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_box.send_keys('laptop')

In [153]:
#click to search the product
search_btn = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn.click()

In [161]:
# i9_link = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[3]/li[12]/span/a')
# i9_link.click()
i7_link = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[3]/li[11]/span/a/div/label/i')
i7_link.click()

In [162]:
ttl_tags    = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
rating_tags = driver.find_elements_by_xpath('//a[@class="a-popover-trigger a-declarative"]/i[1]/span')
price_tags  = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
titles  = []
ratings = []
prices  = []

numcount=0
for i in ttl_tags:
    numcount+=1
    if numcount>10:
        break
    titles.append(i.text) 

numcount=0
for i in rating_tags:
    numcount+=1
    if numcount>10:
        break
    ratings.append(i.get_attribute("innerHTML"))
#ratings

numcount=0
for i in price_tags:
    numcount+=1
    if numcount>10:
        break
    prices.append(i.text)
df = pd.DataFrame()
df['Title'] = titles
df['Rating'] = ratings
df['Price'] = prices
df

,Title,Rating,Price
0,Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....,4.4 out of 5 stars,"87,490"
1,Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...,4.7 out of 5 stars,"95,700"
2,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.2 out of 5 stars,"49,990"
3,LG Gram 17-inches Ultra-Light Intel Evo 11th G...,4.6 out of 5 stars,"94,999"
4,Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...,4.3 out of 5 stars,"79,990"
5,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",5.0 out of 5 stars,"59,990"
6,"ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...",4.3 out of 5 stars,"84,990"
7,Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...,4.4 out of 5 stars,"89,490"
8,"ASUS TUF Dash F15 (2021), 15.6"" (39.62 cms) FH...",4.4 out of 5 stars,"90,990"
9,"MSI GF75 Thin Gaming, Intel i7-10750H, 17.3"" (...",4.4 out of 5 stars,"69,990"

* Question 9-  Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:

In [144]:
# Opening the website in the link
url = 'http://www.ambitionbox.com/'
driver.get(url)

In [145]:
jobs_link = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
jobs_link.click()

In [146]:
input_box = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
input_box.send_keys('Data Scientist')

In [147]:
search_btn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button')
search_btn.click()

In [148]:
location_btn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
location_btn.click()

In [149]:
search_loc = driver.find_element_by_xpath('//label[@for="location_Noida"]')
search_loc.click()

In [150]:
comp_tags =  driver.find_elements_by_xpath('//a[@class="title noclick"]')
days_tag =  driver.find_elements_by_xpath('//span[@class="body-small-l"][1]')
rating_tags = driver.find_elements_by_xpath('//span[@class="body-small"]')
#len(comp_tags)
comps = []
days = []
ratings = []
for i in comp_tags:
    comps.append(i.text)
for i in days_tag:
    days.append(i.text)
for i in rating_tags:
    ratings.append(i.text)

df = pd.DataFrame()
df['Company']= comps
df['Days']= days
df['Rating']= ratings
df

                                             Company     Days Rating
0        HCL - Data Scientist - NLP/Python (2-6 yrs)   4d ago    3.8
1                                     Data Scientist   4d ago    3.9
2                             Manager Data Scientist   6d ago    4.0
3       Data Scientist - Machine Learning (5-14 yrs)   1d ago    4.1
4                      Vice President - Data Science  12d ago    3.7
5             CogniTensor - Data Scientist (2-5 yrs)  13d ago    3.8
6             CogniTensor - Data Scientist (2-5 yrs)  14d ago    3.8
7  Data Scientist - Data Science/Model Developmen...  25d ago    4.1
8  Manager - Data Scientist - Retail/BFSI (8-15 yrs)  25d ago    4.1
9        Data Scientist - Consulting Firm (8-15 yrs)  25d ago    4.1

* Question 10- Write a python program to scrape the salary data for Data Scientist designation. 
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [139]:
# Opening the website in the link
from selenium.webdriver.common.keys import Keys
url = 'http://www.ambitionbox.com/'
driver.get(url)

In [140]:
search_salary_btn = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
search_salary_btn.click()

In [141]:
search_product = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_product.send_keys('Data Scientist')

In [142]:
#'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p'
data_scientist_option = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input') 
data_scientist_option.send_keys(Keys.DOWN)
data_scientist_option.send_keys(Keys.ENTER)

In [143]:
comps = []
avg_sals = []
comp_tags = driver.find_elements_by_xpath('//div[@class="company-info"]/div/a')
for i in comp_tags:
    comps.append(i.text)
#comps
avg_sal_tags = driver.find_elements_by_xpath( '//p[@class="averageCtc"]')
for i in avg_sal_tags:
    avg_sals.append(i.text)
#print(avg_sals)

min_sals = []
max_sals = []
min_sal_tags = driver.find_elements_by_xpath('//div[@class="salary-values"]/div[1]')
max_sal_tags = driver.find_elements_by_xpath('//div[@class="salary-values"]/div[2]')
for i in min_sal_tags:
    min_sals.append(i.text)
#print(min_sals)
for i in max_sal_tags:
    max_sals.append(i.text)
#print(max_sals)

exps = []
exp_tags = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
for i in exp_tags:
    exps.append(i.text.replace('Data Scientist\n . \n','')) # get_attribute("innerHTML"))
#print(exps)
df = pd.DataFrame()
df['Company'] = comps
df['Avg. Sal'] = avg_sals
df['Max. Sal'] = max_sals
df['Min. Sal'] = min_sals
df['Experience'] = exps
df

                    Company Avg. Sal Max. Sal Min. Sal   Experience
0                   Walmart  ₹ 28.7L  ₹ 35.0L  ₹ 17.7L    3 yrs exp
1                  Ab Inbev  ₹ 19.5L  ₹ 25.0L  ₹ 15.0L  3-4 yrs exp
2                        ZS  ₹ 15.8L  ₹ 20.0L   ₹ 9.8L    2 yrs exp
3         Fractal Analytics  ₹ 15.0L  ₹ 22.0L   ₹ 9.5L  2-4 yrs exp
4                     Optum  ₹ 15.0L  ₹ 21.3L  ₹ 11.0L  3-4 yrs exp
5              UnitedHealth  ₹ 13.5L  ₹ 20.5L   ₹ 7.2L  2-4 yrs exp
6           Tiger Analytics  ₹ 13.5L  ₹ 18.5L   ₹ 8.3L  3-4 yrs exp
7                   Verizon  ₹ 12.7L  ₹ 21.0L  ₹ 10.0L    4 yrs exp
8  Ganit Business Solutions  ₹ 12.4L  ₹ 15.0L   ₹ 8.5L    4 yrs exp
9                  Ericsson  ₹ 11.9L  ₹ 21.5L   ₹ 5.8L  3-4 yrs exp